@{
    ViewData["Title"] = "Home Page";
}

<div class="contain">
    <div class="row pt-3">
        <div class="col-12">
            <a href="/"><button type="submit" class="btn btn-primary"> Home</button></a>
        </div>
    </div>
        <div class="row text-center">
            <div class="col-12">
                <h3>@Model.Name</h3>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-12">
                <h5>@Model.Chef</h5>
                </div>
            </div>  
        <div class="row text-center">
            <div class="col-12">
                __________________________________________________________________________
            </div>
        </div>
        <div class="row pt-5 text-center">
            <div class="col-12">
                <h5>@Model.Description</h5>
            </div>
        </div>
        <div class="row pt-5 text-center">
            <div class="col">
                <h5>Calories: @Model.Calories</h5>
            </div>
        </div>
        <div class="row pt-5 text-center">
            <div class="col">
                <h5>Tastiness: @Model.Tastiness</h5>
            </div>
        </div>
        <div class="row text-center pt-5">
            <div class="col-6">
                <a href="delete/@Model.DishId"><button type="submit" class="btn btn-danger">Delete</button></a>
            </div>
            <div class="col-6">
                <a href="edit/@Model.DishId"><button type="submit" class="btn btn-primary">Edit</button></a>
            </div>
        </div>
</div>